body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 26px;
    height: 100vh;
}

  
.container-fluid {
    background-color: #eeeeee;
    margin-top: -2%;

    
}

input, form-control {
    width: calc(100% - 3em);
    

}

.content {
    background-color: #eeeeee;
    margin-bottom: 7rem;
}

.color {
    color: black;
}

.img-fluid{
     width: 320px;
     margin-top: 2%;
   }
   
   .form-label {
       color: black;
   }

   .card {
       margin-left: 23%;
       background-color:white;
       margin-top: -10%;
       border-radius: 12px;
   }


.h4 {
    line-height: 1.7rem;
    font-weight: bold;
}

h1 {
    text-align: center;
    margin: .5em auto 0;
    color: black;
    font-weight: normal;

}

.form-control{
    width: calc(100% - 15em);
    padding: 1.5em;
    align-items: center;
    align-content: center;
    margin-top: 0%;
    margin-left: 30%;
    border-radius: 8px;
    text-decoration: black;
    margin-top: 0.5em;
    

}

.btn {
    width: calc(100% - 14em);
    padding: 1em;
    margin-left: 8.9em;
    border-radius: 8px;
    font-weight: bold;
    font-size: 18px;
    align-content: center;
}

.btn-success{
    background-color: #42b72a;
    width: calc(100% - 16em);
    padding: 1em;
    border-radius: 9px;
    margin-left: 14%;
    font-weight: bold;
    font-size: 18px;
    white-space: nowrap;
        

}



.footer a{
    text-decoration: none;
}

.footer {
    text-align: center;
    background-color: white;
}

a{
    text-align: left;
    
}


.col {
    background-color: #eeeeee;
    align-content: center;
}

.form-label {
     margin-left: 13%;
     text-align: left;
}

.forgot {
    margin-left: 33%;
    text-decoration: none;
}

.horizontal{
        color: black;

}


@media (min-width: 660px) {
     
        
      
         .card {
             padding-right: 2.5em;
         }

         .w-75.text-center.btn-success {
             margin-bottom: 5%;
         }
 
         
666667%;
            }
          
             .card {
                 padding-right: 2.5em;
             }
    
             .w-75.text-center.btn-success {
                 margin-bottom: 5%;
            
             }   
            
    }
     

     

    




   